@font-face {
  font-family: 'Gilroy Light';
  /* Имя шрифта */
  src: local('Gilroy-Light'), /* Полное название шрифта */
  local('Gilroy-Light'), /* PostScript название */
  url('../fonts/gilroylight.woff2'), url('../fonts/gilroylight.woff');
  /* Путь к файлу со шрифтом */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy-ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroy-ExtraBold.woff2'), url('../fonts/Gilroy-ExtraBold.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2'), url('../fonts/opensans.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2'), url('../fonts/opensanslight.woff');
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
}

.button:active .button-text {
  opacity: 0.3;
}

.page-title, .section-title {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.uppercase {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.page-header {
  background-color: #f7e296;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 1px;
  margin-top: 40px;
  /* display: flex;
  flex-direction: column; */
}

.page-header--main {
  min-height: 300px;
}

.page-header--inner {
  padding-bottom: 43px;
  margin-bottom: 40px;
}

.header-logo {
  margin-bottom: 6px;
  margin-top: -19px;
}

.search-form {
  /* height: 49px; */
  width: 440px;
  margin-right: 98px;
  position: relative;
  display: flex;
}

.search {
  font: inherit;
  opacity: 0.3;
  outline: none;
  background: none;
  border: none;
  border-bottom: solid 2px transparent;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 355px;
  padding-left: 40px;
}

.search-button {
  width: 85px;
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  border: solid 2px #000000;
  text-align: center;
  display: none;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  display: block;
}

.search-button:active .search-button__text {
  opacity: 0.3;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 4px;
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  opacity: 1;
  border-bottom-color: #000000;
}

.search:focus+.search-button {
  display: block;
}

.user-functions a {
  color: #000000;
}

.user-functions__wrapper {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.user-navigation, .main-menu__list, .catalog-list, .catalog-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation li, .main-menu__list li, .catalog-list li {
  margin: 0;
  padding: 0;
}

.header-user {
  padding-left: 28px;
  position: relative;
}

.header-user::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  background-image: url("../img/user.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
}

.user-functions {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.user-functions__compare {
  position: relative;
}

.user-functions__cart {
  margin-left: 62px;
  position: relative;
}

.header-inner__user {
  margin-right: 20px;
}

.user-functions__compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -20px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.user-functions__cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.user-navigation__login:hover, .user-functions__cart:hover, .user-functions__compare:hover, .header-user:hover {
  opacity: 0.6;
}

.user-navigation__login:active, .user-functions__cart:active, .user-functions__compare:active, .header-user:hover:active {
  opacity: 0.3;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-menu--header li {
  margin-right: 50px;
}

.main-menu--header li:nth-child(1) {
  margin-right: 324px;
}

.main-menu--header li:nth-child(2) {
  margin-right: 35px;
}

.main-menu--header li:nth-child(4) {
  margin-left: auto;
  margin-right: 0;
}

.main-menu__list a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.catalog-list a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

.main-menu__catalog {
  position: relative;
}

.catalog-list {
  display: none;
  position: absolute;
  z-index: 2;
  top: 30px;
  right: -60px;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-top: 17px;
  padding-bottom: 34px;
  background-color: #f7e296;
}

.main-menu__item:hover .catalog-list {
  display: flex;
}

.catalog-list li:first-child, .catalog-list li:nth-child(2) {
  margin-right: 35px;
}

.main-menu__catalog::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -30px;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.main-menu__list a:hover {
  opacity: 0.6;
}

.main-menu__list a:active {
  opacity: 0.3;
}

.popular-products {
  position: relative;
  margin-top: -112px;
  margin-bottom: 98px;
}

.popular-products__link {
  margin-left: 45px;
}

.popular-products__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -45px;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.popular-products__link:hover::before {
  height: 40px;
  top: -9px;
  transition: ease-out 0.5s;
}

.slide__wrapper {
  display: flex;
}

.slide-image--1 {
  margin-right: 126px;
  margin-left: 90px;
}

.slide-image--2 {
  margin-right: 120px;
  margin-left: 116px;
}

.slide-image--3 {
  padding-top: 60px;
  margin-right: 60px;
  margin-left: 31px;
}

.slide-description {
  width: 500px;
  padding-top: 10px;
}

.popular-products__list, .control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-products__list li, .control-list li {
  margin: 0;
  padding: 0;
}

.popular-products__list {
  display: flex;
  margin: 0 auto;
}

.control-list {
  position: absolute;
  top: 327px;
  right: 85px;
  display: flex;
}

.control-list li:nth-child(1), .control-list li:nth-child(2) {
  margin-right: 20px;
}

.control-list label {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
}

.slide-content {
  display: none;
}

#product-1:checked~.popular-products__list .popular-product__1, #product-2:checked~.popular-products__list .popular-product__2, #product-3:checked~.popular-products__list .popular-product__3 {
  display: block;
}

#product-1:checked~.control-list label[for="product-1"], #product-2:checked~.control-list label[for="product-2"], #product-3:checked~.control-list label[for="product-3"] {
  background-image: url("../img/slider-button.svg");
}

.popular-products-item__lead {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.4px;
  display: block;
  padding-top: 68px;
  position: relative;
  z-index: 1;
}

.popular-products-item__lead::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 0px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide-description::after {
  content: attr(data-number);
  position: absolute;
  top: -25px;
  right: 40px;
  font-family: 'Gilroy ExtraBold';
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
}

.slide-description p {
  margin-top: 20px;
  margin-bottom: 47px;
  letter-spacing: 0.2px;
}

.popular-products_description {
  margin: 0;
  padding: 0;
  margin-top: 53px;
}

.popular-products_description tr {
  margin: 0;
  padding: 0;
}

.popular-description__characteristics td {
  margin: 0;
  padding: 0;
  padding-right: 80px;
}

.popular-description__characteristics {
  font-size: 13px;
  line-height: 20px;
}

.popular-description__values {
  color: #000000;
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.product-categories {
  margin-bottom: 163px;
}

.product-categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.product-categories__item {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.product-category__title {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.product-category__logo {
  background-color: #f7e296;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
}

.product-categories__item:hover .product-category__logo {
  background-color: #f0c52e;
}

.product-categories__item:active {
  opacity: 0.3;
}

.product-category__logo--virtual {
  background-image: url("../img/popular-1.svg");
}

.product-category__logo--monopods {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 95%;
}

.product-category__logo--cameras {
  background-image: url("../img/popular-3.svg");
}

.product-category__logo--bracelets {
  background-image: url("../img/popular-4.svg");
}

.product-category__logo--watch {
  background-image: url("../img/popular-5.svg");
}

.product-category__logo--quadrocopters {
  background-image: url("../img/popular-6.svg");
}

.services {
  background-color: #e5e5e5;
  margin-bottom: 96px;
  min-height: 287px;
}

.services-wrapper {
  display: flex;
}

ul.services-list {
  padding-right: 100px;
  padding-left: 20px;
  margin-top: -17px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-delivery:checked~.container .tab--delivery, #services-warranty:checked~.container .tab--warranty, #services-credit:checked~.container .tab--credit {
  display: block;
}

#services-delivery:checked~.container .button-delivery, #services-warranty:checked~.container .button-warranty, #services-credit:checked~.container .button-credit {
  color: #f7e184;
}

#services-delivery:checked~.container .button-delivery::before, #services-warranty:checked~.container .button-warranty::before, #services-credit:checked~.container .button-credit::before {
  color: #f7e184;
  background-color: #000000;
  width: 280px;
  height: 40px;
  top: -9px;
}

/* .services-list__link:active::before {
  color: #f7e184;
  background-color: #000000;
  width: 280px;
} */

.services-list::after {
  content: "";
  position: absolute;
  top: -83px;
  left: 278px;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

ul.services__tabs {
  display: flex;
  margin-top: -25px;
  margin-left: 158px;
}

.services__list, .services__tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__list li, .services__tabs li {
  margin: 0;
  padding: 0;
}

.services__list li {
  margin-bottom: 35px;
}

.services-list__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.services-list__link:hover::before {
  height: 40px;
  top: -9px;
  transition: ease-out 0.5s;
}

.services-list__link:active {
  color: #f7e184;
}

.services-tabs__item {
  position: relative;
  padding-right: 1000px;
}

.services-tabs__item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
}

.tab::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -280px;
  background-repeat: no-repeat;
}

.tab--delivery::after {
  background-image: url("../img/delivery.svg");
  width: 136px;
  height: 164px;
}

.tab--warranty::after {
  background-image: url("../img/warranty.svg");
  width: 171px;
  height: 194px;
}

.tab--credit::after {
  background-image: url("../img/credit.svg");
  width: 156px;
  height: 186px;
}

.brands {
  margin-bottom: 44px;
}

.brands__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.brands__list li {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.brands__list img {
  opacity: 0.2;
  filter: grayscale(100%);
}

.brands__list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.sections-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 460px;
}

.contacts {
  width: 560px;
}

.section-title--decor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.section-title--about, .section-title--contacts {
  margin-bottom: 46px;
  padding-top: 52px;
  position: relative;
}

.about-us__describe {
  margin-bottom: 30px;
}

.contacts__describe {
  margin-bottom: 35px;
}

.contacts__map {
  margin-bottom: 65px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
  margin-top: 38px;
  padding-left: 35px;
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.about-us__list li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
}

.about-us__list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -33px;
  background-repeat: no-repeat;
  border: solid #e5e5e5 2px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.section__link {
  margin-left: 24px;
}

.section__link--contacts {
  margin-left: 41px;
}

.section__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.section__link:hover::before {
  height: 40px;
  top: -9px;
  transition: ease-out 0.5s;
}

.section__links:active::before {
  color: #f7e184;
  background-color: #000000;
  width: 280px;
}

.logo-catalog:hover {
  opacity: 0.6;
}

.logo-catalog:active {
  opacity: 0.3;
}

.page-title {
  margin: 0;
  padding: 0;
}

.catalog-title {
  margin-left: 55px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.breadcrumbs {
  margin-bottom: 44px;
  margin-top: 10px;
  margin-left: 55px;
}

.breadcrumbs__item {
  padding-right: 40px;
  position: relative;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 15px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
}

.breadcrumbs span, .breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.interactive-catalog {
  opacity: 0.3;
}

.interactive-catalog:hover {
  opacity: 0.6;
}

.interactive-catalog:active {
  opacity: 1;
}

.catalog-header {
  background: linear-gradient(90deg, #dbdbdb 50%, #ebebeb 50%);
}

.catalog-header__content {
  display: flex;
}

.filtr__title {
  background-color: #dbdbdb;
  padding-left: 60px;
  padding-top: 23px;
  padding-bottom: 17px;
  width: 328px;
}

.products-sort {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ebebeb;
  padding-left: 72px;
  width: 832px;
}

.products-sort .products-sort__title {
  margin-right: 45px;
}

.products-sort .sort-type {
  margin-left: 25px;
  margin-right: 25px;
}

.filtr__title h2 {
  margin: 0;
  padding: 0;
}

.products__sort label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.sort-wrapper {
  display: flex;
}

.sort-button {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.sort-button--up {
  margin-left: 224px;
  background-image: url("../img/icon-up-dir.svg");
  opacity: 1;
}

.sort-button--down {
  margin-left: 13px;
  background-image: url("../img/icon-down-dir.svg");
}

.wrapper-catalog {
  background: linear-gradient(90deg, #efefef 50%, #ffffff 50%);
}

.wrapper-catalog__content {
  display: flex;
}

.filtr {
  width: 328px;
  background-color: #efefef;
}

.products {
  width: 832px;
  background-color: #ffffff;
  padding-left: 72px;
  padding-top: 28px;
}

.filtr-container {
  margin-left: 55px;
  margin-right: 65px;
  width: 200px;
}

.filtr legend, .filtr-cost__title {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.filtr ul {
  list-style: none;
}

.filtr label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.products-sort h3 {
  margin: 0;
  padding: 0;
}

.products__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  width: 760px;
}

.product-item {
  margin-top: 42px;
  width: 360px;
  position: relative;
}

.product-item__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 18px;
}

.product-item__title {
  margin: 0;
  padding: 0;
  width: 260px;
}

.product-item__title a {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.product-item span {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.product-item:hover .product-item__hover {
  display: block;
}

.product-item__hover {
  display: none;
  width: 360px;
  min-height: 380px;
  padding-top: 182px;
  /* padding-left: 122px; */
  background-color: #eeeeee;
  opacity: 0.7;
  position: absolute;
  top: 0;
}

.product-item__hover .button {
  display: block;
}

.product-item__hover button {
  border: none;
  background: none;
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  font-family: 'Open Sans Light';
  margin-top: 30px;
  margin-left: 105px;
  cursor: pointer;
}

.products__pagination {
  list-style: none;
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
  margin-bottom: 76px;
  width: 760px;
  height: 70px;
  display: flex;
  align-items: center;
}

.products__pagination li {
  padding: 0;
  margin: 0;
}

.products__pagination .pagination-direct--back {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  margin-right: 219px;
  width: 120px;
  height: 100%;
}

.products__pagination .pagination-direct--forward {
  padding-left: 30px;
  padding-right: 110px;
  padding-top: 20px;
  margin-left: auto;
  width: 120px;
  height: 100%;
}

.products__pagination .pagination-numeral {
  margin-right: 30px;
}

.pagination-page--current {
  opacity: 1;
}

.pagination-direct--back:hover, .pagination-direct--forward:hover {
  background-color: #d9d9d9;
}

.pagination-direct:active .pagination-direct-text {
  opacity: 0.3;
}

.pagination-page {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.page-footer.inner-footer {
  margin-top: 0;
}

.page-footer {
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 50px;
  margin-top: 88px;
}

.footer-wrapper {
  display: flex;
}

.footer-wrapper--top {
  align-items: center;
  margin-bottom: 10px;
}

.footer-logo {
  margin-right: auto;
}

.footer__login {
  margin-right: 20px;
}

.user-functions--footer {
  display: flex;
  padding-bottom: 13px;
  /* background: red; */
}

.user-functions--footer .footer__cart {
  margin-left: 45px;
  padding-left: 20px;
  position: relative;
}

.user-functions--footer .footer__compare {
  margin-left: 45px;
  padding-left: 20px;
}

.user-navigation--footer {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer__user, .footer__compare, .footer__cart {
  position: relative;
}

.footer__user {
  padding-left: 25px;
}

.footer__user::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-image: url("../img/user-gold.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
}

.footer__compare::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-image: url("../img/compare-gold.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.footer__cart::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-image: url("../img/cart-gold.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.user-navigation--footer li {
  margin: 0;
  padding: 0;
}

.interactive:hover {
  opacity: 0.6;
}

.interactive:active {
  opacity: 0.3;
}

.footer-wrapper--middle {
  align-items: baseline;
}

.footer-contacts {
  color: #ffffff;
  margin-bottom: 45px;
}

.main-menu__list--footer {
  width: 440px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 160px;
  align-items: stretch;
  justify-content: space-between;
}

.footer-contacts--right {
  margin-left: auto;
}

.user-functions--footer a, .main-menu__list--footer a {
  color: #ffffff;
}

.footer-wrapper--bottom {
  /* justify-content: space-between; */
  /* background: red; */
  align-items: center;
}

.footer-decor {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  display: flex;
  margin-right: auto;
  margin-left: 390px;
}

.social-list__item {
  margin-right: 22px;
}

.social-list__item a {
  display: block;
  background-color: #7e7e7e;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-list__item--fb a {
  background-image: url("../img/fb.svg");
}

.social-list__item--in a {
  background-image: url("../img/instagram.svg");
}

.social-list__item--tw a {
  background-image: url("../img/twitter.svg");
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  z-index: 10;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7)
}

.modal-feedback {
  display: none;
  width: 950px;
  padding: 90px 100px;
  margin-left: -475px;
  top: 120px;
  left: 50%;
}

.modal-map {
  display: none;
  width: 960px;
  height: 560px;
  margin-left: -480px;
  top: 120px;
  left: 50%;
  background-image: url("../img/map-big.png");
  background-position: center;
  background-repeat: no-repeat;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 55px;
  height: 55px;
  background-color: #f7e296;
  border: none;
  border-radius: 50%;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 27px;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg)
}

.modal-close::after {
  transform: rotate(-45deg)
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal input, .modal label {
  display: block;
  margin: 0;
  padding: 0;
}

.modal label {
  margin-bottom: 6px;
}

.modal input, textarea {
  padding: 15px 20px;
  border: none;
  background-color: #f2f2f2;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.modal input[type="text"], .modal input[type="email"] {
  width: 360px;
  /* opacity: 0.5; */
}

.modal textarea {
  width: 100%;
  min-height: 156px;
  margin-bottom: 30px;
}

.feedback-button {
  margin-left: 32px;
}

.feedback-button::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  width: 200px;
  height: 8px;
  margin-left: -100px;
  background-color: #f0c52e;
  z-index: -1;
}

.feedback-button:hover::before {
  height: 40px;
  top: -9px;
  transition: ease-out 0.5s;
}
