@font-face {
  font-family: 'Gilroy Light';
  /* Имя шрифта */
  src: local('Gilroy-Light'), /* Полное название шрифта */
  local('Gilroy-Light'), /* PostScript название */
  url('../fonts/gilroylight.woff2'), url('../fonts/gilroylight.woff');
  /* Путь к файлу со шрифтом */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy-ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroy-ExtraBold.woff2'), url('../fonts/Gilroy-ExtraBold.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2'), url('../fonts/opensans.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2'), url('../fonts/opensanslight.woff');
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
}

.button:active .button-text {
  opacity: 0.3;
}

.page-title, .section-title {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.uppercase {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.page-header {
  background-color: #f7e296;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 1px;
  margin-top: 40px;
  /* display: flex;
  flex-direction: column; */
}

.page-header--main {
  min-height: 300px;
}

.page-header--inner {
  padding-bottom: 43px;
  margin-bottom: 40px;
}

.header-logo {
  margin-bottom: 17px;
  margin-top: -19px;
}

.search-form {
  padding-left: 40px;
  margin-right: 340px;
  position: relative;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.user-functions a {
  color: #000000;
}

.user-functions__wrapper {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.page-header input[type="search"] {
  font: inherit;
  opacity: 0.3;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.page-header input[type="search"]:hover {
  opacity: 0.6;
}

.page-header input[type="search"]:focus {
  opacity: 1;
}

.user-navigation, .main-menu__list, .catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation li, .main-menu__list li, .catalog-list li {
  margin: 0;
  padding: 0;
}

.user-navigation {
  padding-left: 28px;
  /* margin-right: 240px; */
  position: relative;
}

.user-navigation::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  background-image: url("../img/user.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
}

.user-functions {
  display: flex;
  margin-bottom: 37px;
}

.user-functions__compare {
  position: relative;
}

.user-functions__cart {
  margin-left: 62px;
  position: relative;
}


.user-functions__compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -20px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.user-functions__cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.user-navigation__login:hover, .user-functions__cart:hover, .user-functions__compare:hover {
  opacity: 0.6;
}

.user-navigation__login:active, .user-functions__cart:active, .user-functions__compare:active {
  opacity: 0.3;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-menu__list li {
  margin-right: 50px;
}

.main-menu__list li:nth-child(1) {
  margin-right: 324px;
}

.main-menu__list li:nth-child(2) {
  margin-right: 35px;
}

.main-menu__list li:nth-child(4) {
  margin-left: auto;
  margin-right: 0;
}

.main-menu__list a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.catalog-list a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

.main-menu__catalog {
  position: relative;
}

.catalog-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: -60px;
  min-height: 213px;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  background-color: #f7e296;
}

.main-menu__item:hover .catalog-list {
  display: block;
}

.main-menu__catalog::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -30px;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.main-menu__list a:hover {
  opacity: 0.6;
}

.main-menu__list a:active {
  opacity: 0.3;
}

.popular-products {
  position: relative;
  padding-right: 80px;
  margin-top: -100px;
  margin-bottom: 95px;
}

.popular-products__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -49px;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.popular-products__link:hover::before {
  height: 40px;
  top: -9px;
  transition: ease-out 0.5s;
}

.slide__wrapper {
  display: flex;
}

.slide-image--1 {
  /* width: 384px; */
  margin-right: 120px;
  margin-left: 80px;
}

.slide-image--2 {
  /* width: 384px; */
  margin-right: 120px;
  margin-left: 116px;
}

.slide-image--3 {
  padding-top: 60px;
  margin-right: 60px;
  margin-left: 31px;
}

.slide-description {
  width: 500px;
  /* padding-top: 35px; */
}

.popular-products__list, .control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-products__list li, .control-list li {
  margin: 0;
  padding: 0;
}

.popular-products__list {
  display: flex;
  margin: 0 auto;
}

.control-list {
  position: absolute;
  top: 315px;
  right: 150px;
  display: flex;
}

.control-list li {
  margin-left: 22px;
}

.slide-content {
  display: none;
}

input:checked+.slide-content {
  display: block;
}

.popular-products-item__lead {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  white-space: pre-line;
  display: block;
  padding-top: 68px;
  position: relative;
  z-index: 2;
}

.popular-products-item__lead::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 0px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide-description::after {
  content: attr(data-number);
  position: absolute;
  top: -25px;
  right: 40px;
  font-family: 'Gilroy ExtraBold';
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
}

.slide-description p {
  margin-top: 20px;
  margin-bottom: 45px;
}

.popular-products_description {
  margin-top: 55px;
}

.popular-description__characteristics {
  font-size: 13px;
  line-height: 20px;
}

.popular-description__values {
  color: #000000;
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.product-categories {
  margin-bottom: 163px;
}

.product-categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.product-categories__item {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.product-category__title {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.product-category__logo {
  background-color: #f7e296;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}

.product-categories__item:hover .product-category__logo {
  background-color: #f0c52e;
}

.product-categories__item:active {
  opacity: 0.3;
}

.product-category__logo--virtual {
  background-image: url("../img/popular-1.svg");
}

.product-category__logo--monopods {
  background-image: url("../img/popular-2.svg");
}

.product-category__logo--cameras {
  background-image: url("../img/popular-3.svg");
}

.product-category__logo--bracelets {
  background-image: url("../img/popular-4.svg");
}

.product-category__logo--watch {
  background-image: url("../img/popular-5.svg");
}

.product-category__logo--quadrocopters {
  background-image: url("../img/popular-6.svg");
}

.services {
  background-color: #e5e5e5;
  margin-bottom: 106px;
  min-height: 287px;
}

.services-wrapper {
  display: flex;
}

ul.services-list {
  padding-right: 120px;
  margin-top: -17px;
  position: relative;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -82px;
  left: 225px;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

ul.services__tabs {
  /* width: 460px; */
  display: flex;
  margin-top: -25px;
  margin-left: 120px;
}

.services__list, .services__tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__list li, .services__tabs li {
  margin: 0;
  padding: 0;
}

.services__list li {
  margin-bottom: 30px;
}

.services-list__button {
  cursor: pointer;
}

.services-list__button:active {
  color: #f7e184;
  background-color: #000000;
}

.services-tabs__item {
  position: relative;
}

.services-tabs__item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
}

/* .services-tabs__item--delivery::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 120px;
  background-image: url("../img/delivery.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
}

.services-tabs__item--warranty::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 320px;
  background-image: url("../img/warranty.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 171px;
  height: 194px;
}

.services-tabs__item--credit::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 120px;
  background-image: url("../img/credit.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 156px;
  height: 186px;
} */

.brands {
  margin-bottom: 70px;
}

.brands__list {
  list-style: none;
  display: flex;
}

.brands__list img {
  opacity: 0.2;
  filter: grayscale(100%);
}

.brands__list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.sections-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 460px;
}

.contacts {
  width: 560px;
}

.section-title--decor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.section-title--about, .section-title--contacts {
  margin-bottom: 46px;
  padding-top: 44px;
  position: relative;
}

.about-us__describe, .contacts__describe {
  margin-bottom: 40px;
}

.contacts__map {
  margin-bottom: 70px;
}

.about-us__list {
  list-style: circle;
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 70px;
  margin-top: 28px;
}

.about-us__list li {
  margin-bottom: 12px;
}

.logo-catalog:hover {
  opacity: 0.6;
}

.logo-catalog:active {
  opacity: 0.3;
}

.page-title {
  margin: 0;
  padding: 0;
}

.catalog-title {
  margin-left: 55px;
  margin-bottom: 17px;
}

.breadcrumbs {
  margin-bottom: 53px;
  margin-top: 10px;
  margin-left: 55px;
}

.breadcrumbs span, .breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.interactive-catalog {
  opacity: 0.3;
}

.interactive-catalog:hover {
  opacity: 0.6;
}

.interactive-catalog:active {
  opacity: 1;
}

.catalog-header {
  background: linear-gradient(90deg, #dbdbdb 50%, #ebebeb 50%);
}

.catalog-header__content {
  display: flex;
}

.filtr__title {
  background-color: #dbdbdb;
  padding-left: 60px;
  width: 328px;
}

.products-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: #ebebeb;
  padding-left: 72px;
  width: 832px;
}

.filtr__title h2 {
  margin: 0;
  padding: 0;
}

.products__sort label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.sort-wrapper {
  display: flex;
}

.sort-button {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.sort-button--up {
  background-image: url("../img/icon-up-dir.svg");
}

.sort-button--down {
  background-image: url("../img/icon-down-dir.svg");
}

.wrapper-catalog {
  background: linear-gradient(90deg, #efefef 50%, #ffffff 50%);
}

.wrapper-catalog__content {
  display: flex;
}

.filtr {
  width: 328px;
  background-color: #efefef;
}

.products {
  width: 832px;
  background-color: #ffffff;
  padding-left: 72px;
  padding-top: 70px;
}

.filtr-container {
  margin-left: 55px;
  margin-right: 65px;
  width: 200px;
}

.filtr legend, .filtr-cost__title {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.filtr ul {
  list-style: none;
}

.filtr label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.products-sort h3 {
  margin: 0;
  padding: 0;
}

.products__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 760px;
}

.product-item {
  margin-bottom: 42px;
  width: 360px;
  position: relative;
}

.product-item__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.product-item__title {
  margin: 0;
  padding: 0;
  width: 260px;
}

.product-item__title a {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.product-item span {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.product-item:hover .product-item__hover {
  display: block;
}

.product-item__hover {
  display: none;
  width: 360px;
  min-height: 380px;
  padding-top: 182px;
  /* padding-left: 122px; */
  background-color: #eeeeee;
  opacity: 0.7;
  position: absolute;
  top: 0;
}

.product-item__hover .button {
  display: block;
}

.product-item__hover button {
  border: none;
  background: none;
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  font-family: 'Open Sans Light';
  margin-top: 30px;
  margin-left: 105px;
  cursor: pointer;
}

.products__pagination {
  list-style: none;
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
  width: 760px;
  display: flex;
}

.pagination-direct:hover {
  background-color: #d9d9d9;
}

.pagination-direct:active .pagination-direct-text {
  opacity: 0.3;
}

.pagination-page {
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.page-footer {
  background-color: #464646;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-top: 85px;
}

.page-footer a {
  padding: 0;
  margin: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.user-functions--footer {
  width: 300px;
}

.interactive:hover {
  opacity: 0.6;
}

.interactive:active {
  opacity: 0.3;
}

.footer-contacts {
  color: #ffffff;
  margin-bottom: 45px;
}

.main-menu__list--footer {
  width: 440px;
  padding-left: 7px;
  padding-right: 7px;
}

.user-functions--footer a, .main-menu__list--footer a {
  color: #ffffff;
}

.footer-decor {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  display: flex;
}

.social-list__item {
  margin-right: 22px;
}

.social-list__item a {
  display: block;
  background-color: #7e7e7e;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-list__item--fb a {
  background-image: url("../img/fb.svg");
}

.social-list__item--in a {
  background-image: url("../img/instagram.svg");
}

.social-list__item--tw a {
  background-image: url("../img/twitter.svg");
}
