@font-face {
  font-family: 'Gilroy Light';
  /* Имя шрифта */
  src: local('Gilroy-Light'), /* Полное название шрифта */
  local('Gilroy-Light'), /* PostScript название */
  url('../fonts/gilroylight.woff2'), url('../fonts/gilroylight.woff');
  /* Путь к файлу со шрифтом */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy-ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2'), url('../fonts/gilroyextrabold.woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2'), url('../fonts/opensans.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2'), url('../fonts/opensanslight.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #f0c52e;
  border: none;
}

.button:active .button-text {
  opacity: 0.3;
}

.page-title, .section-title {
  color: #000000;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.uppercase {
  color: #000000;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.page-header {
  background-color: #f7e296;
}

.page-header form {
  display: flex;
  align-items: center;
}

.user-functions a {
  color: #000000;
}

.page-header input[type="search"] {
  font: inherit;
  opacity: 0.3;
  border: none;
  background: none;
}

.page-header input[type="search"]:hover {
  opacity: 0.6;
}

.page-header input[type="search"]:focus {
  opacity: 1;
}

.search-decor {
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.user-navigation, .main-menu__list, .catalog-list {
  list-style: none;
}

.main-menu__list {
  display: flex;
  justify-content: space-around;
}

.user-navigation__login {
  position: relative;
}

.user-functions__compare, .user-functions__cart {
  position: relative;
  margin-left: 50px;
}

.user-navigation__login::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url("../img/user.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
}

.user-functions__compare::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -25px;
  background-image: url("../img/compare.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.user-functions__cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  background-image: url("../img/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.user-navigation__login:hover, .user-functions__cart:hover, .user-functions__compare:hover {
  opacity: 0.6;
}

.user-navigation__login:active, .user-functions__cart:active, .user-functions__compare:active {
  opacity: 0.3;
}

.main-menu__list a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.catalog-list a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

.main-menu__catalog {
  position: relative;
}

.catalog-list {
  display: none;
}

.main-menu__item:hover .catalog-list {
  display: block;
}

.main-menu__catalog::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 240px;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.main-menu__list a:hover {
  opacity: 0.6;
}

.main-menu__list a:active {
  opacity: 0.3;
}

.popular-products {
  position: relative;
}

.popular-products__list, .control-list {
  list-style: none;
}

.popular-products__list {
  display: flex;
  margin: 0 auto;
}

.control-list {
  position: absolute;
  top: 50px;
  right: 500px;
}

.slide-content {
  display: none;
}

input:checked+.slide-content {
  display: block;
}

.popular-products-item__lead {
  color: #000000;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
}

.popular-description__characteristics {
  font-size: 13px;
  line-height: 20px;
}

.popular-description__values {
  color: #000000;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.product-categories__list {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.product-categories__item {
  width: 160px;
  margin-right: 40px;
}

.product-category__title {
  color: #000000;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.product-category__logo {
  background-color: #f7e296;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}

.product-categories__item:hover .product-category__logo {
  background-color: #f0c52e;
}

.product-categories__item:active {
  opacity: 0.3;
}

.product-category__logo--virtual {
  background-image: url("../img/popular-1.svg");
}

.product-category__logo--monopods {
  background-image: url("../img/popular-2.svg");
}

.product-category__logo--cameras {
  background-image: url("../img/popular-3.svg");
}

.product-category__logo--bracelets {
  background-image: url("../img/popular-4.svg");
}

.product-category__logo--watch {
  background-image: url("../img/popular-5.svg");
}

.product-category__logo--quadrocopters {
  background-image: url("../img/popular-6.svg");
}

.services {
  background-color: #e5e5e5;
}

.services-list__button:active {
  color: #f7e184;
  background-color: #000000;
}

.services__list, .services__tabs {
  list-style: none;
}

.services-tabs__item {
  position: relative;
}

.services-tabs__item--delivery::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 120px;
  background-image: url("../img/delivery.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
}

.services-tabs__item--warranty::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 320px;
  background-image: url("../img/warranty.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 171px;
  height: 194px;
}

.services-tabs__item--credit::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 120px;
  background-image: url("../img/credit.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 156px;
  height: 186px;
}

.brands__list {
  list-style: none;
  display: flex;
}

.brands__list img {
  opacity: 0.2;
  filter: grayscale(100%);
}

.brands__list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.about-us__list {
  list-style: circle;
  color: #000000;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.breadcrumbs span, .breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.interactive-catalog {
  opacity: 0.3;
}

.interactive-catalog:hover {
  opacity: 0.6;
}

.interactive-catalog:active {
  opacity: 1;
}

.products__sort button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: none;
  outline: none;
}

.sort-button {
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

button.sort-button--up {
  background-image: url("../img/icon-up-dir.svg");
}

button.sort-button--down {
  background-image: url("../img/icon-down-dir.svg");
}

.page-footer {
  background-color: #464646;
}

.interactive:hover {
  opacity: 0.6;
}

.interactive:active {
  opacity: 0.3;
}

.footer-contacts {
  color: #ffffff;
}

.user-functions--footer a, .main-menu__list--footer a {
  color: #ffffff;
}

.social-list {
  display: flex;
}

.social-list__item {
  margin-right: 22px;
}

.social-list__item a {
  display: block;
  background-color: #7e7e7e;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-list__item--fb a {
  background-image: url("../img/fb.svg");
}

.social-list__item--in a {
  background-image: url("../img/instagram.svg");
}

.social-list__item--tw a {
  background-image: url("../img/twitter.svg");
}
